<%- include('../partials/header')  %> 
</body>
    <div>testing 1 2</div>
    <div><%= collection.name %></div>
    <div><%= collection.userName %></div>
    <div><%= collection.crystalsAdded %></div>
</html>