* {
    box-sizing:border-box;
    text-align: center;
    background: url('https://www.stockvault.net/data/2020/09/25/279179/preview16.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    /* background-position-x: 7rem; */
    color: whitesmoke;
}

body {
    display: grid;
    margin: 0;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;
    height: 100vh;

}
h1 {
    font-family: 'Major Mono Display', monospace;
    font-size: 3rem;
}
p {
    font-family: 'Montserrat', sans-serif;
}
.flex-ctr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
}
img {
    display: flex;
    flex-direction: row;
}
#container {
    width: 60vh;
    background: black;
}
.login {
    display: inline-flex;
    background: whitesmoke;
    color: black;
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
    line-height:29.6px;
}