*{
    box-sizing: border-box;
}

.brand-logo {
    margin-left: 15px;
}
  
  
.collection-item form {
    margin-top: -5px;
}
.navbar-fixed nav .nav-wrapper {
    font-family: 'Megrim';
    background-color: rgba(83, 21, 60, 1);
}
.rewrite-select {
    background-color: whitesmoke;
    color: rgba(83, 21, 60, 1);
    padding: 10px;
}
h2 {
    font-family: 'Major Mono Display';
}
#section-container {
    display: inline-flex;

}