*{
  box-sizing: border-box;
}
.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px;
}
.navbar-fixed nav .nav-wrapper {
  font-family: 'Megrim';
  background-color: rgba(83, 21, 60, 1);
}

#user-collections {
  margin: 50px;
  width: 150px;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border: 1px solid #CCC;
  height: 34px;
}
body {
  background: #272727;
  color: whitesmoke;
  font-family: 'Montserrat', sans-serif;
}
p{
  font-family: 'Megrim', serif;
  font-size: 2rem;
}
.container {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  height: 250px;
  text-align: center;
  column-gap: 1.2rem;;
  row-gap: 5rem;
  padding-top: 27rem;
  color: rgba(154, 42, 64, 1);
}
.new-crystal{
  height: 200px;
}
img {
  max-height: 200px;
  opacity: 0.5;
  transition: .4s ease-in-out;
  border-radius: 10%;
}
img:hover{
  opacity: 1;

}
a {
  color: #cf6679;
}